fastapi>=0.95.0  # Підтримує Pydantic v2
uvicorn>=0.15.0,<0.16.0
sqlalchemy>=1.4.0,<2.0.0
python-dotenv>=0.19.0,<0.20.0
pydantic>=2.0.0  # Оновлюємо до v2
pydantic-settings>=2.0.0
psycopg2-binary>=2.9.0
asyncpg>=0.27.0
alembic>=1.7.0